/* ****************************************** */
/* FLEX BOX - let the content shape the layout*/
/* ****************************************** */

.container {
    display: flex;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cell {
    background-color: #BDDAB3;
}

.flex {
    display: flex;
    gap: 1rem;
}

/* make each cell take up an equal amount of space */
.flex > .cell {
    flex-grow: 1;
}

/* make the middle cell take up twice as much space */
.flex > .cell:nth-child(2) {
    flex-grow: 2;
}