/* *************************************** */
/* GRID - let the layout shape the content */
/* *************************************** */

.container {
    /* display: flex; */
    display: grid;
    padding: 2rem;    
    grid-gap: 1rem;

    /* Enforce 3 columns, regardless the viewport size*/
    /* grid-template-columns: 1fr 1fr 1fr;

    /* Enforce as many columns as possible (within the available viewport), 
    with the minimin width of 20 rem 
    Esentially making this layout responsive (whereas flexbox would continue wrapping) */
    grid-template-columns: 
    repeat(auto-fill, minmax(20rem, 1fr));
}

.cell {
    background-color: #BDDAB3;
    padding: 1rem;
}

/* apply 'grid' to a class to force a fixed grid layout 
Note: this renders the 'grid-template-columns' auto-fill on the .container useless */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}