/* *************************************** */
/* GRID - let the layout shape the content */
/* *************************************** */

.container {
    /* display: flex; */
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    background-color: #BDDAB3;
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}