
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}


/* *************************************** */
/* GRID - let the layout shape the content */
/* *************************************** */

.container {
    /* display: flex; */
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    background-color: #BDDAB3;
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}


/* ****************************************** */
/* FLEX BOX - let the content shape the layout*/
/* ****************************************** */

.container {
    /* display: flex; */
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex {
    display: flex;
    gap: 1rem;
}

/* make each cell take up an equal amount of space */
.flex > .cell {
    flex-grow: 1;
}

/* make the middle cell take up twice as much space */
.flex > .cell:nth-child(2) {
    flex-grow: 2;
}